<div class="jumbotron bg-body-tertiary mt-3 p-3">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead fs-2">I am Darshan Pagar, working as a software developer in Barclays</p>
    <hr class="my-4">
    <p class="fs-4">My area of interest lies in backend development and I have hands-on experience with the technologies like Spring Framework & Node JS</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/mrdarshanpagar/" role="button">Connect With Me</a>
    </p>
  </div>
